# Ignorar el entorno virtual llamado djangoServer
djangoServer/


# Ignorar archivos de caché y configuración
*.log
*.pyc
__pycache__/
/myFirstApiRest/users/migrations/__pycache__
/myFirstApiRest/auctions/__pycache__
